---
adminUser: admin
adminPassword: admin123

service:
  type: NodePort
  nodePort: 30300
  port: 80

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.eth-devnet.svc.cluster.local
        isDefault: true

persistence:
  enabled: false

# Allow sidecars to auto-load dashboards from ConfigMaps
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    folder: /var/lib/grafana/dashboards
    defaultFolderName: Loadgen
  datasources:
    enabled: true
